[submodule "third_party/WFA2-lib"]
	path = third_party/WFA2-lib
	url = https://github.com/smarco/WFA2-lib.git
[submodule "third_party/abPOA"]
	path = third_party/abPOA
	url = https://github.com/yangao07/abPOA.git
[submodule "third_party/gbz-base"]
	path = third_party/gbz-base
	url = https://github.com/kokyriakidis/gbz-base.git
[submodule "third_party/edlib"]
	path = third_party/edlib
	url = https://github.com/Martinsos/edlib.git
[submodule "third_party/pggaf"]
	path = third_party/pggaf
	url = https://github.com/kokyriakidis/pggaf.git
[submodule "third_party/hiphap"]
	path = third_party/hiphap
	url = https://github.com/jheinz27/hiphap.git
	ignore = untracked
[submodule "third_party/minimap2"]
	path = third_party/minimap2
	url = https://github.com/lh3/minimap2.git
